{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <!-- Background image -->
    <header class="bg-image">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.0)"></div>
    </header>
    <!-- Background image -->
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="card text-center mb-5" style="margin-top: -250px">
                    <div class="card-body p-5">
                        <h1 class="mb-4">Vrodou Photographe Amateur</h1>
                        <p class="mb-4 text-muted">
                            All 📸 Are Taken By Me 😉📍Paris 🇨🇵 Nature 🌻🌳 Insectes 🐞🐝 Animaux 🐾🦆Passionnée De 📷
                        </p>
                        <a href="{{path('app_blogpost')}}" type="button" class="btn btn-primary btn-rounded">
                            Voir mon travail
                        </a>
                        <button type="button" class="text-danger btn btn-link btn-rounded me-2">
                            Me suivre sur Instagram
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
