{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!
{% endblock %}

{% block body %}
    <section class="p-5 mt-5">{{component('blogpost_search')}}
    </section>

{% endblock %}
