@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

$sky-100: #e0f2fe;
$green-900: #14532d;

.text-header {
  font-family: "Titan One", cursive;
}

.bg-sky-100 {
  background-color: $sky-100;
}
.bg-green-900 {
  background-color: $green-900;
}
