<div {{ attributes }}>
    <section class="container-fluid">
        <aside class="col-lg-4 p-1 mx-auto">
            <div class="form-floating mb-3">
                <input type="search" data-model="query" class="form-control" id="floatingInput" placeholder="Votre recherche">
                <label for="floatingInput">Votre recherche</label>
            </div>
        </aside>
        <article class="col-lg-9 container-fluid g-1 g-md-2 g-lg-3 row mx-auto">
            {% for blogpost in this.blogposts %}
                {{ component('blogpost', {
                    blogpost: blogpost
                }) }}
            {% endfor %}
        </article>

    </section>

</div>
