<div class="col d-flex justify-content-center">
    <div class="card overflow-hidden bg-green-900" style="width: 18rem;">
        <figure style="height: 13rem;" class="row justify-content-center align-items-center ">
            <img src="{{ asset ('images/blogposts/' ~ blogpost.imageName)}}" alt="{{blogpost.name}}" class="h-100 img-fluid my-auto">
        </figure>

        <div class="card-body bg-green-900 text-center fw-bold">
            <p class="card-text text-light">{{blogpost.name}}</p>
            {% for category in blogpost.category %}
                <input type="checkbox" class="btn-check" id="{{category}}" autocomplete="off" value="{{category}}" data-model="query">
                <label class="btn btn-sm btn-success" for="{{category}}">{{category}}</label>
            {% endfor %}
        </div>
    </div>
</div>
